{% load staticfiles %}

<!doctype html>

<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>{{ series.name }}</title>
		<link rel="stylesheet" href="{% static 'ranks/css/foundation.css' %}">
		<link rel="stylesheet" href="{% static 'ranks/css/style.css' %}">
		<link rel="apple-touch-icon" href="{% static 'ranks/img/icon.png' %}">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<script src="{% static 'ranks/js/vendor/modernizr.js' %}"></script>
	</head>

	<body>
		<div class="header-cont">
			<div class="header">
				<div class="row">
					<div class="small-12 columns">
						<div class="refresh-left">
							<a href="{% url 'ranks:add-game-detail' %}"><i class="fa fa-plus"></i></a>
						</div>
						<div class="refresh">
							<a href="/"><i class="fa fa-refresh"></i></a>
						</div>
						
						<h4>{{ series.name }}</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="rank-content">
			<div class="row">
				<div class="small-12 columns">
					{% for game in games %}
					<div class="game-card">
						<h2><strong>Game ID: {{ game.0.id }}</strong></h2>
						<p>{{ game.0.get_date }} | Buy in: ${{ game.0.get_buy_in}}</p>
						<p><strong>Winner:</strong> {{ game.1.first_name }} {{ game.1.get_last_initial}}. | ${{ game.0.get_first_earnings}}</p>
						<p><strong>Second Place:</strong> {{ game.2.first_name }} {{ game.2.get_last_initial}}. | ${{ game.0.get_second_earnings}}</p>
						<p><strong>Third Place:</strong> {{ game.3.first_name }} {{ game.3.get_last_initial}}. | ${{ game.0.get_third_earnings}}</p>
						<p><strong>Fourth Place:</strong> {{ game.4.first_name }} {{ game.4.get_last_initial}}. | ${{ game.0.get_fourth_earnings}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="push-10"></div>

		<script src="{% static 'ranks/js/vendor/jquery.js' %}"></script>
		<script src="{% static 'ranks/js/foundation.min.js' %}"></script>
		<script src="{% static 'ranks/js/in-app.js' %}"></script>
		<script>
			$(document).foundation();
		</script>

	</body>

</html>