{% load staticfiles %}

<!doctype html>

<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>{{ series.name }}</title>
		<link rel="stylesheet" href="{% static 'ranks/css/foundation.css' %}">
		<link rel="stylesheet" href="{% static 'ranks/css/style.css' %}">
		<script src="{% static 'ranks/js/vendor/modernizr.js' %}"></script>
	</head>

	<body>

		<div class="header">
			<div class="row">
				<div class="small-12 columns">
					<h4>{{ series.name }}</h4>
				</div>
			</div>
		</div>

		<div class="row">
			{% for player in players %}
			<div class="small-11 columns small-centered player-card">
				<h1>#{{ player.rank }}</h1>
				<div class="player-stats">
					<h2>{{ player.first_name }} {{ player.get_last_initial }}.</h2>
					<p>Career Earnings: {{ player.get_earnings }}</p>
					<p>Total Wins: {{ player.first_places }}</p>
					<p>Win Percentage: {{ player.get_win_percentage }}%</p>
				</div>
			</div>
			{% endfor %}
		</div>

		<a class="rank-button" href="{% url 'ranks:add-game-detail' %}">Add Game</a>
		<a class="rank-button" href="{% url 'ranks:add-player-detail' %}">Add Player</a>

		<script src="{% static 'ranks/js/vendor/jquery.js' %}"></script>
		<script src="{% static 'ranks/js/foundation.min.js' %}"></script>
		<script>
			$(document).foundation();
		</script>

	</body>

</html>